.scroll-horiz{
	overflow-x: hidden;
}
.width-full{
	max-width: 100% !important;
}

.no-margin{
	margin: 0px !important;
}

.no-padding{
	padding: 0px !important;
}

.inline-div{
	display: inline-block !important;
}

.white{
	color: white;
}